<header>
  <img
    src="assets/img/yan.jpg"
    alt="Yan - Foto de perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
</header>
<aside>
  <div class="container">
    <p></p>
    <p></p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>
        <li>
          <a
            href="https://github.com/Wandryll"
            target="_blank"
            class="btn btn-secondary"
          >
            GitHub
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contado do WhatsApp"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a href="" target="_blank">
            <strong>Envie uma mensagem para:</strong>
            <p>WhatsApp: (92) 99968-0114</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contado do e-mail"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a href="mailto:wandryell@gmail.com" target="_blank">
            <strong>Envie um e-mail para:</strong>
            <p>wandryell&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
